#ctaMovies {
    background-image: url("https://miro.medium.com/v2/resize:fit:700/1*CIdcVDW1LiFN5NN_8gK5Ig.jpeg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.25rem;;
    
}

#ctaFavs{
    background-image: url("https://www.thebanner.org/sites/default/files/styles/article_detail_header/public/2023-08/MM-1197%20Barbie.jpg?itok=ETezpk0b");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.25rem;;
}

#sectionPhotos{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


td, tr{
    border: solid black;
    padding: 5px;
    width: 13rem;
    
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .container {
    display: block;
    position: relative;
    cursor: pointer;
    user-select: none;
  }
  
  .container svg {
    position: relative;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    transition: all 0.3s;
    fill: #666;
  }
  
  .container svg:hover {
    transform: scale(1.1);
  }
  
  .container input:checked ~ svg {
    fill: #ffeb49;
  }
  