#movieBanner{
    background-image: url("https://i.blogs.es/2a9439/avengers_endgame_analisis_problema_marvel/1366_2000.jpeg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ctaMovies {
    background-image: url("https://miro.medium.com/v2/resize:fit:700/1*CIdcVDW1LiFN5NN_8gK5Ig.jpeg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    
}

#ctaFavs{
    background-image: url("https://www.thebanner.org/sites/default/files/styles/article_detail_header/public/2023-08/MM-1197%20Barbie.jpg?itok=ETezpk0b");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#sectionPhotos{
    display: flex;
    justify-content: space-around;
    align-items: center;
}